<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content=""/>
    <title>Список отсутствующих</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row m-0 p-0 app-window new-attendance-page">
                        <div class="col-12 h-of">
                            <h1 class=" col-12 text-right">Отсутствующие</h1>
                            
                        </div>
                        <div class="col-12 row m-0 justify-content-center">
                            <form class="col-12 row ml-1 justify-content-center" id="t-new-attendance-form">
                                <div class="col-12 row justify-content-center m-0">
                                    <div class="col-10">
                                        <label for="t-new-attendance-form">Дата:</label>
                                        <input type="date" value="2000-04-04" class="form-control" id="t-new-attendance-form-date">
                                    </div>
                                </div>
                                <div class="col-10">
                                    {{#each studentList}}
                                        <div class="col-2  bg-primary rounded">
                                            <img src="{{#imgnotnull user_photo user_sex}}{{/imgnotnull}}" alt="">
                                            <span>{{user_sur_name}} {{user_name}}</span>
                                            <select class="col-12 text-center form-control" id="t-new-attendance-form-select-{{student_id}}">
                                                <option value=""></option>
                                                <option value="Н" selected>Н</option>
                                                <option value="З">З</option>
                                            </select>
                                            <input type="file" id="t-new-attendance-form-file-{{student_id}}" accept=".png,.jpg" disabled>
                                        </div>
                                    {{/each}}
                                </div>
                                <button class="btn btn-primary col-12" id="t-new-attendance-form-button">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>