<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница, содержащая форму для создания нового отчёта по посещаемости."/>
    <title>Список отсутствующих</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row m-0 p-0 app-window new-attendance-page">
                        <div class="col-12 h-of row">
                            {{>backbutton}} <h1 class="col-xl-10 col-12 text-right">Отсутствующие</h1> 
                        </div>
                        <div class="col-12 row m-0 justify-content-center">
                            <form class="col-12 row ml-1 justify-content-center" id="t-new-attendance-form">
                                <div class="col-12 row justify-content-center m-0">
                                    <div class="col-10 py-3">
                                        <label for="t-new-attendance-form">Дата:</label>
                                        <input type="date" class="form-control" id="t-new-attendance-form-date">
                                    </div>
                                </div>
                                <div class="col-xl-10 col-12 row justify-content-center">
                                    {{#each studentList}}
                                        <div class="col-xl-12 justify-content-between row align-items-center align-content-center col-12 m-1 p-4 stylise-block-static overflow-hidden t-na-st-block">
                                            <div class="col-4">
                                                <span>{{user_sur_name}} {{user_name}}</span>
                                            </div>
                                            <div class="col-7 row align-content-center align-items-center justify-content-end">
                                                <select class="col-xl-2 col-6 text-center form-control" id="t-new-attendance-form-select-{{student_id}}">
                                                    <option value="" selected></option>
                                                    <option value="Н">Н</option>
                                                    <option value="З">З</option>
                                                </select>
                                                <input type="file" class="col-6" id="t-new-attendance-form-file-{{student_id}}" accept=".png,.jpg" disabled>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="col-12 mt-5 justify-content-center row align-content-end align-items-end pt-5">
                                    <button class="btn stylise-block col-10" id="t-new-attendance-form-button">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>