<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Содержит информацию о посещаемости студента группы куратора."/>
    <title>Посещаемость: {{title}}</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row mx-0 px-0 app-window t-attendance">
                        <div class="col-12 row justify-content-between h-of pb-5">
                            {{>backbutton}} <h1 class="col-xl-10 col-12 text-right">Прогулы: {{student_name}}</h1>
                        </div>
                        <div class="col-12 row justify-content-center t-absentismeses-block">
                            <div class="col-10 row justify-content-start">
                                {{#each absentismeses}}
                                    <div class="col-xl-3 col-12 row m-3 p-3 stylise-block-static">
                                        <div class="col-12">
                                            <h2>Дата прогула: {{#datenormalise absenteeismes_date "D-M"}}{{/datenormalise}}</h2>
                                        </div>
                                        <div class="col-12">
                                            <span>Тип прогула: {{absenteeismes_type}}</span>
                                        </div>
                                        {{#notnull absenteeismes_file}}
                                            <div class="col-12">
                                                <span>ПРОГУЛ ЗАКРЫТ</span>
                                            </div>
                                            <div class="col-12 row justify-content-center pt-5">
                                                <a href="{{../absenteeismes_file}}" class="stylise-block-static p-2 col-8 text-center" download>Скачать зап.</a>
                                            </div>
                                        {{else}}
                                            <div class="col-12">
                                                <form class="col-12 row t-st-absentismeses-form" id="t-st-absentismeses-form-{{../absenteeismes_id}}">
                                                    <label for="t-st-absentismeses-file">Записка/объяснительная</label>
                                                    <input type="file" id="t-st-absentismeses-form-file">
                                                    <button class="btn stylise-block-static mt-3" id="t-st-absentismeses-form-button">Отправить</button>
                                                </form>
                                            </div>
                                        {{/notnull}}
                                    </div>
                                {{else}}
                                    <div class="col-12">
                                        <h2>Прогулы отсутствуют</h2>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>