<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница содержит информацию о ДО/ДПО студента группы куратора."/>
    <title>ДО/ДПО: {{title}}</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row mx-0 px-0 app-window t-additional-education">
                        <div class="col-12 row justify-content-between h-of pb-5">
                            {{>backbutton}} <h1 class="col-xl-10 col-12 text-right">ДО/ДПО: {{student_name}}</h1>
                        </div>
                        <div class="col-12 row justify-content-center t-additional-education-block">
                            <div class="col-10 row justify-content-start">
                                {{#each ae}}
                                    <div class="col-4 stylise-block-static">
                                        <div class="col-12">
                                            <h3>Наименование: {{ae_name}}</h3>
                                        </div>
                                        <div class="col-6">
                                            <p>Дата начала: {{#datenormalise ae_beg_date "DMY"}}{{/datenormalise}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Дата окончания: {{#datenormalise ae_end_date "DMY"}}{{/datenormalise}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Преподаватель: {{user_sur_name}} {{user_name}} {{user_mid_name}}</p>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="col-10">
                                        <h2 class="text-center">ДО/ДПО отсутствуют</h2>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>