<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Страница, содеражащая информацию о посещаемости студента."/>
    <title>Посещаемость: {{title}}</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                {{>applogo}}
                <div class="row justify-content-center col-12 mx-0 px-0 application">
                    {{>header}}
                    <div class="col-12 justify-content-center align-items-start align-content-start row mx-0 px-0 app-window h-attendance">
                        <div class="col-12 row justify-content-between h-of pb-5">
                            {{>backbutton}} <h1 class="col-xl-10 col-12 text-right">Прогулы: {{student_name}}</h1>
                        </div>
                        <div class="col-12 row justify-content-center h-absentismeses-block">
                            <div class="col-10 row justify-content-start">
                                {{#each absentismeses}}
                                    <div class="col-xl-3 col-12 row m-3 p-3 stylise-block-static">
                                        <div class="col-12">
                                            <h2>Дата прогула: {{#datenormalise attendance_date "D-M-Y"}}{{/datenormalise}}</h2>
                                        </div>
                                        <div class="col-12">
                                            <span>Тип прогула: {{absenteeismes_type}}{{#notnull absenteeismes_file}}/Уважительный{{/notnull}}</span>
                                        </div>
                                        {{#notnull absenteeismes_file}}
                                            <div class="col-12">
                                                <span>ПРОГУЛ ЗАКРЫТ</span>
                                            </div>
                                            <div class="col-12 row justify-content-center pt-5">
                                                <a href="{{#base64 ../absenteeismes_file}}{{/base64}}" class="stylise-block-static p-2 col-8 text-center" download>Скачать зап.</a>
                                            </div>
                                        {{/notnull}}
                                    </div>
                                {{else}}
                                    <div class="col-12">
                                        <h2>Прогулы отсутствуют</h2>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>