<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kostin Vladislav"/>
    <meta name="description" content="Профиль пользователя."/>
    <title>Профиль: {{title}}</title>
    {{>linkscripts}}
    {{>styles}}
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            {{>sidebar}}
            <div class="row h-100 main {{#equal sidebar_d 0}}main-full-screen{{else}}main-n-full-screen{{/equal}}">
                <div class="row justify-content-center align-content-start align-items-start col-12 mx-0 px-0 profile-page application">
                    <div class="col-12 h-of">
                        <h1 class="display-4 col-12 text-right">Профиль</h1>
                    </div>
                    <div class="col-12 row justify-content-center">
                        <form class="col-xl-8 col-12 row justify-content-center" id="profile-form">
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 row justify-content-center">
                                    <h2 class="h-section text-center col-xl-3 col-12">Аватар</h2>
                                </div>
                                <div class="col-12 row justify-content-center">
                                    <img src="{{#base64 (imgnotnull userData.user_photo userData.user_sex)}}{{/base64}}" alt="profile-avatar" id="t-profile-img">
                                </div>
                                <div class="col-12 row justify-content-center">
                                    <input type="file" id="profile-form-img" disabled onchange="document.getElementById('t-profile-img').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-12 row justify-content-center">
                                    <div class="col-12">
                                        <label for="">Фамилия</label>
                                        <input type="text" id="profile-form-sur-name" class="form-control" value="{{userData.user_sur_name}}" disabled>
                                    </div>
                                    <div class="col-12">
                                        <label for="">Имя</label>
                                        <input type="text" id="profile-form-name" class="form-control" value="{{userData.user_name}}" disabled>
                                    </div>
                                    <div class="col-12">
                                        <label for="">Отчество</label>
                                        <input type="text" id="profile-form-mid-name" class="form-control" value="{{userData.user_mid_name}}" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Дата рождения</label>
                                        <input type="date" id="profile-form-birthdate" class="form-control" value="{{#datenormalise userData.user_birthdate "Y-M-D"}}{{/datenormalise}}" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Пол</label>
                                        <select type="text" id="profile-form-sex" class="form-control" disabled>
                                            <option value="М" {{#equal userData.user_sex 'M'}}selected{{/equal}}>М</option>
                                            <option value="Ж" {{#equal userData.user_sex 'Ж'}}selected{{/equal}}>Ж</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="">Почтовый адрес</label>
                                        <input type="email" id="profile-form-email" class="form-control" value="{{userData.user_email}}" disabled>
                                    </div>
                                    <div class="col-12 row justify-content-between py-5">
                                        <button class="btn col-12 stylise-block" id="profile-form-change-button">Изменить</button>
                                        <button class="btn col-xl-5 col-12 stylise-block" id="profile-form-abort-button" hidden>Отменить</button>
                                        <button class="btn col-xl-5 col-12 stylise-block" id="profile-form-save-button" hidden>Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>